@font-face{
  font-family: 'bebas';
  src: url(/font/BebasNeue-Regular.woff);
}

body{
  background: url(/img/1.png);
  background-size: cover;
  color: #333;
  font: 16px/20px Arial, Sans-serif;
}

.topbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  z-index: 99999;
  background-color: skyblue;
}

.topbar .linktree{
  position: absolute;
  top: 10px;
  left: 10px;
  text-indent: -9999px;
  background: url(/img/linktree.png);
  width: 50px;
  background-color: #333;
  height: 50px;
  background-size: 50px;
}

.topbar ul{
  line-height: 70px;
  position: absolute;
  right: 0;
}

.topbar li{
  display: inline-block;
  margin-right: 20px;
  font-size: 30px;
}

.topbar li a{
  color: #333;
  font-family: 'bebas';
  text-decoration: none;
}

.topbar li a:hover{
  color: salmon;
  font-family: 'bebas';
  text-decoration: underline;
}

.container{
  width: 1800px;
  margin: 75px auto;
  background-color: aliceblue;
  box-shadow: 0 0 5px 5px ;
  position: relative;
}

/* .header .relate{
  width: 50px;
  height: 100px;
  background: url(/img/linktree.png);
  background-size: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: -2px;
  right: 0 ;
} */

.header{
  padding: 20px;
}

.header h1{
  font: 60px/30px 'bebas';
  padding-bottom: 15px;
  text-shadow: 5px 5px 5px;
}

.header ul{
  font-size: 20px;
}

.header ul li{
  display: inline-block;
  margin-right: 10px;
}

.header li a{
  color: salmon;
  text-decoration: none;
}
.header li a:hover{
  color: #333;
  text-decoration: underline;
}

.hero{
  height: 500px;
  background: url(/img/keren.png);
  background-size: cover;
  background-position: 0 -400px;
  border-top: 5px solid skyblue;
  border-bottom: 5px solid salmon;
}

.main{
  text-align: center;
  float: left;
  width: 1200px;
}

.main h2{
  font: 40px/40px 'bebas';
  margin-top: 10px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}

.main .penulis{
  text-align: center;
  margin-top: 3px;
  font-size: 20px;
  font-style: italic;
  padding: 0;
  text-indent: 0;
}

.main .penulis a{
  color: #333;
  text-decoration: none;
}

.main .penulis a:hover{
  color: salmon;
  text-decoration: underline;
}

.main p{
  padding-left: 20px;
  text-align: justify;
  text-indent: 20px;
  padding-top: 10px;
}

.sidebar{
  float: right;
  width: 550px;
}

.sidebar h3{
  font: 30px/20px 'bebas';
  margin-top: 15px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}

.sidebar img{
  width: 200px;
  padding-top: 10px;
  float: left;
  padding-right: 10px;
}

.sidebar p{
  text-indent: 20px;
  text-align: justify;
}

.footer{
  margin-top: 20px;
  height: 40px;
  background-color: #333;
  color: white;
  text-align: center;
  font: 25px/40px 'bebas';
}

.footer a{
  color: white;
  text-decoration: none;
}

.footer a:hover{
  color: salmon;
  text-decoration: underline;
}
